@media only screen and (max-width: 500px) {
    /* .nav{
        display: grid;
        grid-template-columns: 4rem;
        grid-template-rows: 5rem 5rem;
    } */
    .buttons{
        position: relative;
      display: inline-flex;
      left: -2px;
    }
}